.statCard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
  background: var(--grey400);
  padding: 20px;
  color: var(--black600);
}
.statCard svg {
  width: 110px;
  height: 110px;
  stroke: var(--grey500);
}
.statCard span {
  color: var(--black600);
}

.orange{
  background: var(--orange300);
}
.orange svg{
  stroke: var(--orange400);
}

.violet{
  background: var(--violet300);
}
.violet svg{
  stroke: var(--violet400);
}

.blue{
  background: var(--blue300);
}
.blue svg{
  stroke: var(--blue400);
}
