#root {
  margin: 0 auto;
  width: 100%;
}

.content {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.df {
  display: flex;
}
.fd-c {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.gap15 {
  gap: 15px;
}
.gap10 {
  gap: 10px;
}
.gap20 {
  gap: 20px;
}
.gap40 {
  gap: 40px;
}

.fs18 {
  font-size: 18px;
}
.fs24 {
  font-size: 24px;
}
.fs64 {
  font-size: 64px;
}

.fw-b {
  font-weight: bold;
}
.fw-400 {
  font-weight: 400;
}

.f-g {
  flex-grow: 1;
}

.scaleIn {
  animation: scaleIn 0.2s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.98); /* Начальное состояние элемента: невидимый */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Конечное состояние элемента: видимый */
  }
}

.card {
  background: var(--grey400);
  color: var(--black600);
  padding: 20px;
}

ul.faq{
  margin: 20px;
  color: var(--red500)
}

.roundedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c4c4c4;
  color: white;
  font-size: 36px;
  line-height: 26px;
  cursor: pointer;
}

.roundedButton svg {
  width: 30px;
  height: 30px;
  stroke: black;
}
.roundedButton:hover {
  background: #9f9f9f;
}
