:root {
  font-family: Roboto;
  line-height: 1;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red300: #ea8a79;
  --red500: #dc3e22;
  --red600: #b5311a;
  --green: #a8b64f;
  --green600: #96a43d;

  --grey400: #f4f4f4;
  --grey500: #c2c2c2;

  --orange300: #ffdda9;
  --orange400: #ffae35;
  --violet300: #dfdcfe;
  --violet400: #9c97d7;
  --blue300: #c5f1ff;
  --blue400: #7fc2d7;
  --black600: #333333;
  --text-color: #2b2b2b;
  --text-color-light: #ffffff;

  user-select: none;
}
* {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
}
body,
div,
html,
ul,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
input,
textarea,
button {
  border: none;
}
input:focus,
textarea:focus,
button:focus {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
